header{
    padding: 15px;

    .wrapper{ display: flex; justify-content: space-between;
        .logo_site{
            position: relative; 
            max-width: 145px;
            
            .lien_logo{ 
                position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0;
                opacity: 0;
            }
        }
        nav ul{
            display: flex; gap: 0px 10px;

            li a{ font-size: 0.8rem;
                &.active{ text-decoration: underline;}
            }
        } 
    }

    @media(min-width:$tabletteBreakpoint){
        .wrapper{ 
            .logo_site{ max-width: 210px;}
            nav{

                ul{ 
                    gap: 0px 70px; align-items: center;
                    height: 100%; 
                    margin: 0;

                    li a{ font-size: 1.5rem;}
                }
            } 
        }
    }
}