// La "Home Page"
section.home{
    // On masque le h1
    h1{ display: none;}
    .wrapper{
        // Le background d'arrivée
        .background_home{
            display: flex; align-items: center;
            height: 111px;
            padding: 15px;
            background: url(../../assets/img/background_home.jpg) no-repeat center center; background-size: cover;
            color: $blanc;
            font-size: 1.5rem;
        }

        // L'ensemble des tuiles
        .liste_tuiles{
            
            .tuile{
                position: relative;
                max-width: 340px; height: 255px;
                margin: 0 auto 50px;
                border-radius: 10px;
                overflow: hidden;
                transition: 0.2s;
                font-size: 1.125rem;

                .lien_logement{
                    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
                    background: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,0.5));
                    color: transparent;
                }

                img{ width: 100%; height: 100%; object-fit: cover;}
                .titre_tuile{ 
                    position: absolute; bottom: 15px; left: 15px; right: 15px;
                    font-weight: 500; line-height: 25.67px;
                    color: $blanc;
                }

                &:hover{
                    transform: scale(1.03);
                }
            }
        }
        
        @media(min-width: $tabletteBreakpoint){
            // Le background d'arrivée
            .background_home{
                height: 223px;
                justify-content: center;
                font-size: 3rem;
            }
            // L'ensemble des tuiles
        .liste_tuiles{
            display: flex; flex-wrap: wrap; justify-content: center; gap: 50px;
            padding: 60px 0;
            border-radius: 25px;
            background: $gris;

            .tuile{
                max-width: 340px; height: 340px;
                margin: 0;
            }
        }
        }
    }
}